body{
   
}
#barberia1{
   width: 100%;
}

.TITULO_PRINCIPAL{
   padding-left:  30px ;
}

.TITULO_CENTRAL{
   text-align: center;
}

.principal{
   background:#cccccc;
   padding: 20px;
}
p{
   text-align: center;
   
}
em strong{
   color:red;
}
#mision{
   font-size: 30px;
}

.diferenciales{
   background:#ffffff ;
   padding: 30px;
}



.items{
   font-style: italic;
}

ul{
   display: inline-block;
   vertical-align: top;
   width: 20%;
   margin-right: 15%;
}
.imagenDiferencial{
   width: 30%;
}
